* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

span {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
    mix-blend-mode: difference;
}

div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
    100% {
        left: 0;
    }
}